In [1]:
print("Hello world!")

Hello world!

In [2]:
print('First Line \n Second Line \n Third line')

First Line
 Second Line
 Third line

In [55]:
print(4)

4

In [56]:
print(4+4)

8

In [57]:
print('4' + '4')

44

In [58]:
4+4+4

12

### Data Type

In [59]:
print(type(12))

<class 'int'>

In [60]:
print(type(12.1))

<class 'float'>

In [61]:
print(type(-12.3))

<class 'float'>

In [62]:
print(type(False))

<class 'bool'>

In [63]:
print(type('abc12'))

<class 'str'>

In [64]:
print(type(None))

<class 'NoneType'>

In [65]:
print(9//4)

2

In [66]:
print(4%4)

0

In [67]:
print(2**16)

65536

In [68]:
print(2**4)

16

### Built-in Math function

In [69]:
print(round)

<built-in function round>

In [70]:
print((5 + 4) * 10 / 2)

45.0

In [71]:
print(((5 + 4) * 10) / 2)

45.0

In [72]:
print((5 + 4) * (10 / 2))

45.0

In [73]:
print(5 + (4 * 10) / 2)

25.0

In [74]:
print(5 + 4 * 10 // 2)

25

### The math module

In [75]:
import math
print(math.sqrt(16))

4.0

In [76]:
print(math.sqrt(16))

4.0

In [77]:
print(math.pi)

3.141592653589793

In [78]:
print(math.ceil(5.1))

6

In [79]:
print(math.comb(5, 3))

10

In [80]:
print(math.pow(16, 2))

256.0

### Variables in Python

In [81]:
a= 53
print(a)

53

In [82]:
value = 5
value = value + 2
print(value)

7

In [83]:
value += 2
print(value)

9

In [84]:
value = 10

value += 5
print(value)
value -= 5
print(value)
value *= 5
print(value)
value /= 5
print(value)
value %= 4
print(value)
value //= 5
print(value)
value **= 5
print(value)

15
10
50
10.0
2.0
0.0
0.0

### Python string

In [85]:
multi_lines_str = """ 
\/ * /*+
gdi93
\973\8-3
"""
print(multi_lines_str )

\/ * /*+
gdi93
\973\8-3

<>:1: SyntaxWarning: invalid escape sequence '\/'
<>:1: SyntaxWarning: invalid escape sequence '\/'
C:\Users\user11\AppData\Local\Temp\ipykernel_19588\471732631.py:1: SyntaxWarning: invalid escape sequence '\/'
  multi_lines_str = """

In [86]:
multi_lines_str = """ 
One message that should \t kept away
"""
print(multi_lines_str )

One message that should 	 kept away

In [87]:
multi_lines_str = """ 
One message that should \\ kept away
"""
print(multi_lines_str )

One message that should \ kept away

In [88]:
multi_lines_str = """ 
One message that should \n kept away
"""
print(multi_lines_str )

One message that should
 kept away

In [89]:
multi_lines_str = "character   character2  character3\tcharacter4"
print(multi_lines_str)

character   character2  character3	character4

In [90]:
multi_lines_str = "character\tcharacter2\tcharacter3\tcharacter4"
print(multi_lines_str)

character	character2	character3	character4

## Day 2

In [92]:
first_name = "jadeja"
second_name = "shakti"
print(first_name + second_name)

jadejashakti

In [93]:
print(second_name + first_name)

shaktijadeja

In [94]:
print(first_name + " " + second_name)

jadeja shakti

In [95]:
print(second_name + " "+ first_name)

shakti jadeja

### Concatenation

In [96]:
print("5"+"2")
print(5+2)

52
7

### Type conversion - int()

In [97]:
print(int(123.456))
print(int('123.456'))

123

ValueError: invalid literal for int() with base 10: '123.456'

In [98]:
print(int(123.456))
print(int('123456')) # when you remove the . it will print normal

123
123456

### Type convertion - float

In [99]:
print(int(123.456))
print(int(float('123.456')))

123
123

In [100]:
### Type convertion - string

In [101]:
print(int(123.456))
print(int(float('123.456')))

123
123

### Formated String

In [102]:
first = "John"
second = "Silver"
unreads = "22"
print(f"Welcome back %s %s. You have %d unreads", first, second, unreads)

Welcome back %s %s. You have %d unreads John Silver 22

In [103]:
first = "John"
second = "Silver"
unreads = "22"
print("Welcome back %s %s. You have %d unreads", first, second, unreads)

Welcome back %s %s. You have %d unreads John Silver 22

In [104]:
first = "John"
second = "Silver"
unreads = "22"
print(f"Welcome back {first} {second}. You have {unreads} unreads")

Welcome back John Silver. You have 22 unreads

In [105]:
print(f"Welcome back %s . You have unreads", first)

Welcome back %s . You have unreads John

In [106]:
first = "John"
second = "Silver"
unreads = "22"
print(f"Welcome back %s %s. You have %s unreads" %(first, second, unreads))

Welcome back John Silver. You have 22 unreads

In [107]:
first = "John"
second = "Silver"
unread_messages = "22"
print(f"Welcome back %s %s. You have %s unreads" %(first, second, unread_messages))

Welcome back John Silver. You have 22 unreads

### String Indexing

In [108]:
strl = "Python is so much fun!"
print(strl[0])

P

In [109]:
print(strl[0:8])

Python i

In [110]:
print(strl[0:8:2])

Pto

In [111]:
strl = "Python"
print(len(strl))

6

In [ ]:
https://www.w3schools.com/python/python_ref_string.asp

In [112]:
strl = "Python"
print(strl.upper())

PYTHON

In [30]:
strl = "Python python is lively"
print(strl.count('p'))

1

In [35]:
birth_year = int(input('What year were you born? '))
print(birth_year)

What year were you born?  1989

1989

In [34]:
birth_year = int(input('What year were you born? '))
print(type(birth_year))

What year were you born?  1989

<class 'int'>

In [36]:
birth_year = float(input('What year were you born? '))
print(type(birth_year))

What year were you born?  1998

<class 'float'>

#### create a script that prompt the user for their favorite animal and a secret word. then print a sentence like this: "Your favorite animal is {animal_name} and your secret word ****** is {lenth of the word} letteres long"

In [43]:
fav_animal = input("enter your favourite animal name! ")
secret_word = input("Enter your secret word! ")
length_of_word = len(secret_word)
print(f"your favourite animal is {fav_animal} and your secret word ****** is {length_of_word} letters long.")

enter your favourite animal name!  goat
Enter your secret word!  rice

your favourite animal is goat and your secret word ****** is 4 letters long.

#### Q: 3 input for cost, 1 for discount % and 1 for % sales tax, add 3 cost = total, deduct discount from total, add sales tax, print the last total

In [ ]:
input_cost_l = 10
input_cost_2 = 20
input_cost_3 = 30
totall = input_cost_l + input_cost_2 + input_cost_3
discount = 10
sales_tax 10
total2 = totall - int((totall/discount)) # 54
total_final = total2 + int((total2/sales_tax)) #54 + 5.4 = 59.4 final payment

In [51]:
cost1 = float(input("Enter the first cost: "))
cost2 = float(input("Enter the second cost: "))
cost3 = float(input("Enter the third cost: "))
discount_percentage = float(input("Enter the discount percentage: "))
sales_tax_percentage = float(input("Enter the sales tax percentage: "))

total_cost = cost1 + cost2 + cost3
discount_amount = (discount_percentage / 100) * total_cost

total_after_discount = total_cost - discount_amount

sales_tax_amount = (sales_tax_percentage / 100) * total_after_discount
final_total = total_after_discount + sales_tax_amount


print("The final total after discount and adding sales tax is:", round(final_total, 2))

Enter the first cost:  10
Enter the second cost:  20
Enter the third cost:  30
Enter the discount percentage:  10
Enter the sales tax percentage:  10

The final total after discount and adding sales tax is: 59.4

In [52]:
def calculate_total_cost(cost1, cost2, cost3):
    return cost1 + cost2 + cost3

# Function to apply the discount
def apply_discount(total_cost, discount_percentage):
    discount = (discount_percentage / 100) * total_cost
    return total_cost - discount

# Function to calculate the sales tax
def apply_sales_tax(amount, sales_tax_percentage):
    sales_tax = (sales_tax_percentage / 100) * amount
    return amount + sales_tax

# Main function to execute the process
def main():
    # Input values from the user
    cost1 = float(input("Enter the first cost: "))
    cost2 = float(input("Enter the second cost: "))
    cost3 = float(input("Enter the third cost: "))
    discount_percentage = float(input("Enter the discount percentage: "))
    sales_tax_percentage = float(input("Enter the sales tax percentage: "))

    # Step by step calculation
    total_cost = calculate_total_cost(cost1, cost2, cost3)
    total_after_discount = apply_discount(total_cost, discount_percentage)
    final_total = apply_sales_tax(total_after_discount, sales_tax_percentage)

    # Output the final total
    print("The final total after discount and adding sales tax is:", round(final_total, 2))

# Call the main function to run the program
main()

Enter the first cost:  10
Enter the second cost:  20
Enter the third cost:  30
Enter the discount percentage:  10
Enter the sales tax percentage:  10

The final total after discount and adding sales tax is: 59.4

### Day 3

### Python 2

In [9]:
list_values = ['India', 'Brazil', 'Africa', 'Canada', 'USA']
print(list_values[-5])

India

In [12]:
print(list_values[len(list_values) -2-1])

Africa

In [11]:
print(list_values[len(list_values) -(2)])

Canada

In [14]:
print(list_values[1 - len(list_values)])

Brazil

In [16]:
print(list_values[1:4])

['Brazil', 'Africa', 'Canada']

In [17]:
list_values[1] = 'UK'
print(list_values)

['India', 'UK', 'Africa', 'Canada', 'USA']

In [18]:
list_values2 = list_values
print(list_values2)

['India', 'UK', 'Africa', 'Canada', 'USA']

In [22]:
print(list_values2)

['India', 'UK', 'Africa', 'Canada', 'USA']

In [13]:
listl = [-5, -2, 12, 19, 27, 36]
print(listl[0])
print(listl[5])
print(listl[-5])
print(listl[1:4])

-5
36
-2
[-2, 12, 19]

### Matrix

In [23]:
arr = [
	[1,2,3],
	[4,5,6],
	[7,8,9]
      ]
# arrays are important for machine learning and image processing
# access and element: array_name[row][column]

In [33]:
menu = ['Starters', ['Salads', ['Caesar', 'Soup'], 'Iron']]
caesar = menu[1][1][0]
print(caesar)

Caesar

## List Built-in method

In [34]:
menu = ['Starters', ['Salads', ['Caesar', 'Soup'], 'Iron']]
menu.append('Foam')
print(menu)

['Starters', ['Salads', ['Caesar', 'Soup'], 'Iron'], 'Foam']

In [35]:
menu.insert(3, 'Mouth_freshner')
print(menu)

['Starters', ['Salads', ['Caesar', 'Soup'], 'Iron'], 'Foam', 'Mouth_freshner']

In [37]:
menu.extend('element')
print(menu)

['Starters', ['Salads', ['Caesar', 'Soup'], 'Iron'], 'Foam', 'Mouth_freshner', 'e', 'l', 'e', 'm', 'e', 'n', 't']

In [39]:
menu.pop()
print(menu)

[['Salads', ['Caesar', 'Soup'], 'Iron'], 'Foam', 'Mouth_freshner', 'e', 'l', 'e', 'm', 'e', 'n']

In [45]:
menu.remove('Foam')
print(menu)

[['Salads', ['Caesar', 'Soup'], 'Iron'], 'Mouth_freshner', 'e', 'l', 'e', 'm', 'e', 'n']

In [44]:
whatever = ['goat', 'cow', 'dog']
whatever.append('lion')
print(whatever)
whatever.insert(0,'tiger')
print(whatever)
whatever.remove('dog')
print(whatever)
whatever.extend('goat')
print(whatever)
whatever.pop()
print(whatever)

['goat', 'cow', 'dog', 'lion']
['tiger', 'goat', 'cow', 'dog', 'lion']
['tiger', 'goat', 'cow', 'lion']
['tiger', 'goat', 'cow', 'lion', 'g', 'o', 'a', 't']
['tiger', 'goat', 'cow', 'lion', 'g', 'o', 'a']

#### Range

In [46]:
print(list(range(10, 20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [ ]:
list_names = file.png
#print(list_name) -> file

In [51]:
a = 'filename.png'
print(a[0:-4])

filename

In [54]:
import os

a = 'filename.png'
print(os.path.splitext(a)[0])

filename

In [52]:
file = 'filename.png'
file_without_extension = file[:-4]  # Remove the last four characters ('.png')
print(file_without_extension)

filename

In [55]:
a,b,c, *other, d = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
[4, 5, 6, 7, 8]
9

In [56]:
a,b,c, *yyy = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)
print(b)
print(c)
print(yyy)

1
2
3
[4, 5, 6, 7, 8, 9]

### Dict data structure

In [60]:
profile = {'name': 'Alice',
          'age': 30,
          'hobbies': ['reading','travelling']
}
profile['height'] = 160
print(profile)
del profile['age']
print(profile)

{'name': 'Alice', 'age': 30, 'hobbies': ['reading', 'travelling'], 'height': 160}
{'name': 'Alice', 'hobbies': ['reading', 'travelling'], 'height': 160}

In [61]:
profile = {'name': 'Alice',
          'age': 30,
          'hobbies': ['reading','travelling']}
profile['height'] = 160
print(profile)
del profile['age']
print(profile)

{'name': 'Alice', 'age': 30, 'hobbies': ['reading', 'travelling'], 'height': 160}
{'name': 'Alice', 'hobbies': ['reading', 'travelling'], 'height': 160}

In [62]:
print(len(profile))

3

In [63]:
print(profile.get('name'))

Alice

In [65]:
profile = {'name': 'Alice',
          'age': 30,
          'hobbies': ['reading','travelling'],
           'namel': 'Alice'
}
profile['height'] = 160
print(profile)
del profile['age']
print(profile.keys())

{'name': 'Alice', 'age': 30, 'hobbies': ['reading', 'travelling'], 'namel': 'Alice', 'height': 160}
dict_keys(['name', 'hobbies', 'namel', 'height'])

In [66]:
profile = {'name': 'Alice',
          'age': 30,
          'hobbies': ['reading','travelling'],
           'namel': 'Alice'
}
profile['height'] = 160
print(profile)
del profile['age']
print(profile.values())

{'name': 'Alice', 'age': 30, 'hobbies': ['reading', 'travelling'], 'namel': 'Alice', 'height': 160}
dict_values(['Alice', ['reading', 'travelling'], 'Alice', 160])

## Day 4

### Tuple data structure

In [1]:
listl = [2,3,4,5,6,7,7,7,7,]
setl = set(listl)
print(listl)
print(setl)

[2, 3, 4, 5, 6, 7, 7, 7, 7]
{2, 3, 4, 5, 6, 7}

In [2]:
listl = [2,3,4,5,6,7,7,7,7,]
setl = set(listl)
print(listl)
print(setl)
tuplel = (2,3,4,5,6,7,8,9,9,9,9)
print(tuplel)

[2, 3, 4, 5, 6, 7, 7, 7, 7]
{2, 3, 4, 5, 6, 7}
(2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 9)

In [5]:
listl[1] = 1

print(listl)

[2, 1, 4, 5, 6, 7, 7, 7, 7]

In [8]:
listl = [2,3,4,5,6,7,7,7,7,]
dictl = {'a' : 5}
setl = {2,3,4,5,5,5,5}
tuplel = (2,3,4,5,6,7,8,9,9,9,9)
print(listl)
print(setl)
print(dictl)

[2, 3, 4, 5, 6, 7, 7, 7, 7]
{2, 3, 4, 5}
{'a': 5}

### Logical operators and conditional statements

In [ ]:
# Relation operation
# use to compare two values
# return bool i.e False or True

In [9]:
print(5 == 6)

False

In [10]:
is_member = True
if is_member:
    print('welcome to vip lounge!')
print('This will be always executed')

welcome to vip lounge!
This will be always executed

In [11]:
is_member = False
if is_member:
    print('welcome to vip lounge!')
print('This will be always executed')

This will be always executed

In [ ]:
# the if and else statement

In [13]:
is_member = False
if is_member:
    print('welcome to vip lounge!')
else:
    print('This is else statement')
    print('This will be always executed')

This is else statement
This will be always executed

In [14]:
# if, elif and else statement
a = 0
if a > 0:
    print('A is greater than 0')
elif a < 0:
    print('A is less than 0')
else:
    print('A is itself 0')

A is itself 0

In [16]:
5 == 3
if 5 > 3:
    print('Yes')
else:
    print('No')

Yes

In [ ]:
take int value from user and check if it is even number

In [26]:
inputl = input('Input for number l:')
input2 = input('Input for number 2:')
input3 = input('select l for + 2 for -3 for * and 4 for / :')

if input3 == 1:
    print('additional of Numbers is :', input1+input2)
elif input3 == 2:
     print('substraction of Numbers is :', input1+input2)
elif input3 == 3:
     print('Multiplication of Numbers is :', input1+input2)
elif input3 == 4:
     print('Division of Numbers is :', input1+input2)
else:
    print('Choice selection was not proper, do it again!')

Input for number l: 5
Input for number 2: 6
select l for + 2 for -3 for * and 4 for / : 4

Choice selection was not proper, do it again!

In [29]:
a = 5
b = 3
if a==5 and b==3:
    print('Both are true')
elif a==5 or b==3:
    print('Atleast of them is true')
else:
    print('None of the condition is true')

Both are true

In [30]:
a = 7
b = 3
if a==5 and b==3:
    print('Both are true')
elif a==5 or b==3:
    print('Atleast of them is true')
else:
    print('None of the condition is true')

Atleast of them is true

In [31]:
a = 5
b = 3
if a==5 and b==3:
    print('Both are true')
elif a==5 or b==3:
    print('Atleast of them is true')
else:
    print('None of the condition is true')
listl = [2,3,4,5,6,7]
if 7 in listl:
    print('value 7 is in list')
elif 7 not in listl:
    print('Value 7 not in the list')
else:
    print('Else condition executed')

Both are true
value 7 is in list

In [33]:
print('a' in 'qwertyuopj')

False

In [34]:
print('t' in 'qwertyuopj')

True

In [2]:
colors = ["red", "blue", "green", "yellow", "orange"]
for color in colors:
    print(color + " " + "paint")

red paint
blue paint
green paint
yellow paint
orange paint

In [5]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [6]:
for a in "Every character of string one by one":
    print(a)

E
v
e
r
y

c
h
a
r
a
c
t
e
r

o
f

s
t
r
i
n
g

o
n
e

b
y

o
n
e

In [7]:
for a in "Every character of string one by one":
    print(a, end="")

Every character of string one by one

In [ ]:
1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [15]:
for i in range(1,6):
    for j in range(1, i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [21]:
for i in range(1,6):
    for j in range(1, i+1):
        print("1", end=" ")
    print("*")

1 *
1 1 *
1 1 1 *
1 1 1 1 *
1 1 1 1 1 *

In [23]:
for i in range(1, 6):
    print(' ' *(5-i) + '*' * i)

    *
   **
  ***
 ****
*****

In [25]:
for i in range(1, 6):
    for j in range(1, 6):
        print(" . ", end="")
    print(str(i) + " " + "I value")

 .  .  .  .  . 1 I value
 .  .  .  .  . 2 I value
 .  .  .  .  . 3 I value
 .  .  .  .  . 4 I value
 .  .  .  .  . 5 I value

In [39]:
for i in range(6):
    print(' ' * (5-i), end= ' ')
    for j in range(1, i + 1):
        print('*', end= ' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [31]:
for i in range(6):
    print(' ' * (5-i), end = ' ')
    for j in range(1, i + 1):
        print('*', end = '')
    print()

     *
    **
   ***
  ****
 *****

print values from 1 to 10, if number is from 1,3,5,7,9, "1 is odd number , 3 is odd number..... "2 is even  4 is even, for loop + if else

In [1]:
for j in range(1, 10):
    if j % 2 == 0:
        print(f"{j} is an even number")
    else:
        print(f"{j} is an odd number")

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number

In [2]:
for j in range(1, 100):
    if j == 50:
        break
        
    else:
        print(f"{j} number")

1 number
2 number
3 number
4 number
5 number
6 number
7 number
8 number
9 number
10 number
11 number
12 number
13 number
14 number
15 number
16 number
17 number
18 number
19 number
20 number
21 number
22 number
23 number
24 number
25 number
26 number
27 number
28 number
29 number
30 number
31 number
32 number
33 number
34 number
35 number
36 number
37 number
38 number
39 number
40 number
41 number
42 number
43 number
44 number
45 number
46 number
47 number
48 number
49 number

In [46]:
for j in range(1, 100):
    if j == 50:
        print("Value 50 encountered")
        continue
        
    else:
        print(f"{j} number")

1 number
2 number
3 number
4 number
5 number
6 number
7 number
8 number
9 number
10 number
11 number
12 number
13 number
14 number
15 number
16 number
17 number
18 number
19 number
20 number
21 number
22 number
23 number
24 number
25 number
26 number
27 number
28 number
29 number
30 number
31 number
32 number
33 number
34 number
35 number
36 number
37 number
38 number
39 number
40 number
41 number
42 number
43 number
44 number
45 number
46 number
47 number
48 number
49 number
Value 50 encountered
51 number
52 number
53 number
54 number
55 number
56 number
57 number
58 number
59 number
60 number
61 number
62 number
63 number
64 number
65 number
66 number
67 number
68 number
69 number
70 number
71 number
72 number
73 number
74 number
75 number
76 number
77 number
78 number
79 number
80 number
81 number
82 number
83 number
84 number
85 number
86 number
87 number
88 number
89 number
90 number
91 number
92 number
93 number
94 number
95 number
96 number
97 number
98 number
99 number

write down name of user from input unless user says to 'stop'

In [3]:
for i in range(1, 50):
    name = input("Enter the name: ")
    if name == "stop":
        break
    else:
        print("Hello ", name)

Hello  12
Hello  23
Hello  6

#### While loops can run infinitely

In [4]:
while True:
    name = input("Enter the name: ")
    if name == "Raji":
        break
    else:
        print("Hello ", name)

Hello  segun
Hello  kunle
Hello  wale

In [53]:
a=10
while (a>0):
    name = input("Enter the name: ")
    if name == "stop":
        break
    else:
        print("Hello ", name)
        print("Value of a :",a)
        a=a-1

Enter the name:  jide

Hello  jide
Value of a : 10

Enter the name:  12

Hello  12
Value of a : 9

Enter the name:  8

Hello  8
Value of a : 8

Enter the name:  7

Hello  7
Value of a : 7

Enter the name:  5

Hello  5
Value of a : 6

Enter the name:  4

Hello  4
Value of a : 5

Enter the name:  4

Hello  4
Value of a : 4

Enter the name:  4

Hello  4
Value of a : 3

Enter the name:  4

Hello  4
Value of a : 2

Enter the name:  4

Hello  4
Value of a : 1

In [54]:
a=10
while (a>0):
    name = input("Enter the name: ")
    if name == "stop":
        break
    else:
        print("Hello ", name)
        print("Value of a :",a)

Enter the name:  12

Hello  12
Value of a : 10

Enter the name:  11

Hello  11
Value of a : 10

Enter the name:  4

Hello  4
Value of a : 10

Enter the name:  10

Hello  10
Value of a : 10

Enter the name:  stop

In [61]:
import pandas as pd

# Example of survey data collection
survey_data = {
    'Name': ['John', 'Doe', 'Jane', 'Bob'],
    'Age': [28, 34, 29, 35],
    'Favorite Color': ['Blue', 'Green', 'Red', 'Yellow']
}
df_survey = pd.DataFrame(survey_data)
print(df_survey)

   Name  Age Favorite Color
0  John   28           Blue
1   Doe   34          Green
2  Jane   29            Red
3   Bob   35         Yellow

In [5]:
import pandas as pd
survey_data = {
    'Name': ['John', 'Doe', 'Jane', 'Bob'],
    'Age': [28, 34, 29, 35],
    'Favorite Color': ['Blue', 'Green', 'Red', 'Yellow'],
    'Nitionality': ['Germany', 'Togo', 'Nigeri', 'USA'],
    'Gender': ['Male', 'Female', 'Male', 'Male']
}
df_survey = pd.DataFrame(survey_data)
print(df_survey)

   Name  Age Favorite Color Nitionality  Gender
0  John   28           Blue     Germany    Male
1   Doe   34          Green        Togo  Female
2  Jane   29            Red      Nigeri    Male
3   Bob   35         Yellow         USA    Male

In [2]:
### 6 Time-Saving Pandas Functions for Data Cleaning DataAnalytics 

### 1. .dropna(): Remove missing values

### 2. .fillna(): Fill missing values. Replace NaNs with specific values or methods like ‘ffill’ (forward fill) or ‘bfill’ (backward fill).

### 3. .replace(): Swap out unwanted values 

### 4. .duplicated() & .drop_duplicates(): Detect and eliminate duplicates.

### 5. .astype(): Convert data types, i.e. from string to integer

### 6. .query(): Filter your data using SQL-like syntax.

In [2]:
import pandas as pd
import numpy as np

# sample data
df = pd.DataFrame({
    'Name': ['John', 'Jane', 'Tom', 'Jake', None, 'Jake'],
    'Age': [28, 22, None, 35, 40, 35],
    'Gender': ['Male', 'Female', 'Male', 'Male', None, 'Male'],
    'Salary': [3000, 3200, None, 4000, None, 4000],
    'ID': ['A01', 'A02', 'A03', 'A03', 'A05', 'A03']
})
print(df)

   Name   Age  Gender  Salary   ID
0  John  28.0    Male  3000.0  A01
1  Jane  22.0  Female  3200.0  A02
2   Tom   NaN    Male     NaN  A03
3  Jake  35.0    Male  4000.0  A03
4  None  40.0    None     NaN  A05
5  Jake  35.0    Male  4000.0  A03

In [3]:
# dropna() - Remove missing values
df_dropped = df.dropna()
df_dropped

   Name   Age  Gender  Salary   ID
0  John  28.0    Male  3000.0  A01
1  Jane  22.0  Female  3200.0  A02
3  Jake  35.0    Male  4000.0  A03
5  Jake  35.0    Male  4000.0  A03

In [4]:
# fillna() - Fill missing values
df_filled = df.fillna({'Age': df['Age'].mean(), 'Salary': df['Salary'].median(), 'Name': 'Unknown'})
df_filled

      Name   Age  Gender  Salary   ID
0     John  28.0    Male  3000.0  A01
1     Jane  22.0  Female  3200.0  A02
2      Tom  32.0    Male  3600.0  A03
3     Jake  35.0    Male  4000.0  A03
4  Unknown  40.0    None  3600.0  A05
5     Jake  35.0    Male  4000.0  A03

In [5]:
# replace() - Replace values
df_replaced = df.replace({'Male': 'M', 'Female': 'F'})
df_replaced

   Name   Age Gender  Salary   ID
0  John  28.0      M  3000.0  A01
1  Jane  22.0      F  3200.0  A02
2   Tom   NaN      M     NaN  A03
3  Jake  35.0      M  4000.0  A03
4  None  40.0   None     NaN  A05
5  Jake  35.0      M  4000.0  A03

In [6]:
# duplicated() - Remove duplicates
df[df.duplicated()]

   Name   Age Gender  Salary   ID
5  Jake  35.0   Male  4000.0  A03

In [8]:
# drop_duplicates() - Remove duplicates
df_no_duplicates = df.drop_duplicates()
df_no_duplicates

   Name   Age  Gender  Salary   ID
0  John  28.0    Male  3000.0  A01
1  Jane  22.0  Female  3200.0  A02
2   Tom   NaN    Male     NaN  A03
3  Jake  35.0    Male  4000.0  A03
4  None  40.0    None     NaN  A05

In [11]:
# astype() - Convert data types, i.e. from string to integer
df['Age'] = df['Age'].fillna(0) # fill NaNs b4 conversion
df['Age'] = df['Age'].astype(int) # convert to integer
df

   Name  Age  Gender  Salary   ID
0  John   28    Male  3000.0  A01
1  Jane   22  Female  3200.0  A02
2   Tom    0    Male     NaN  A03
3  Jake   35    Male  4000.0  A03
4  None   40    None     NaN  A05
5  Jake   35    Male  4000.0  A03

In [12]:
# astype() - Convert data types, i.e. from string to integer
df['Salary'] = df['Salary'].fillna(0) # fill NaNs b4 conversion
df['Salary'] = df['Salary'].astype(int) # convert to integer
df

   Name  Age  Gender  Salary   ID
0  John   28    Male    3000  A01
1  Jane   22  Female    3200  A02
2   Tom    0    Male       0  A03
3  Jake   35    Male    4000  A03
4  None   40    None       0  A05
5  Jake   35    Male    4000  A03

In [14]:
# query() - filter data using query
df_filtered = df.query('Age > 30 and Gender == "Male"')
df_filtered

   Name  Age Gender  Salary   ID
3  Jake   35   Male    4000  A03
5  Jake   35   Male    4000  A03

In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Sample Data
data = {
    'CustomerID': [1, 2, 3, 4, 5],
    'Age': [20, 25, 30, None, 40],
    'Gender': ['Male', 'Female', 'Female', 'Male', None],
    'AnnualIncome': [15, 18, 22, 30, None],
    'SpendingScore': [39, 81, None, 77, 56]
}
df = pd.DataFrame(data)

# Preprocessing Steps
# 1. Fill missing values
df.fillna({'Age': df['Age'].mean()})
df.fillna({'AnnualIncome': df['AnnualIncome'].median()})
df.fillna({'SpendingScore': df['SpendingScore'].mean()})
df.fillna({'Gender': df['Gender'].mode()[0]})
df

# 2. Encode categorical variables
df = pd.get_dummies(df, columns=['Gender'], drop_first=True)

# 3. Scale numerical features
scaler = MinMaxScaler()
df[['Age', 'AnnualIncome', 'SpendingScore']] = scaler.fit_transform(df[['Age', 'AnnualIncome', 'SpendingScore']])

# 4. Split the data
X = df.drop(columns=['CustomerID', 'SpendingScore'])
y = df['SpendingScore']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Output results
print("Training Features:\n", X_train)
print("Testing Features:\n", X_test)
print("Training Labels:\n", y_train)
print("Testing Labels:\n", y_test)

Training Features:
    Age  AnnualIncome  Gender_Male
4  1.0           NaN        False
2  0.5      0.466667        False
0  0.0      0.000000         True
3  NaN      1.000000         True
Testing Features:
     Age  AnnualIncome  Gender_Male
1  0.25           0.2        False
Training Labels:
 4    0.404762
2         NaN
0    0.000000
3    0.904762
Name: SpendingScore, dtype: float64
Testing Labels:
 1    1.0
Name: SpendingScore, dtype: float64

In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Sample Data
data = {
    'CustomerID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Age': [20, 25, 30, None, 40, 23, 56, 20],
    'Gender': ['Male', 'Female', 'Female', 'Male', None, 'Male', 'Female', None],
    'AnnualIncome': [15, 18, 22, 30, None, 23, 12, 40],
    'SpendingScore': [39, 81, None, 77, 56, None, 10, 30]
}
df = pd.DataFrame(data)

# Preprocessing Steps
# 1. Fill missing values

df.fillna({'Age': df['Age'].mean()})
df.fillna({'AnnualIncome': df['AnnualIncome'].median()})
df.fillna({'SpendingScore': df['SpendingScore'].mean()})
df.fillna({'Gender': df['Gender'].mode()[0]})
df

# 2. Encode categorical variables
df = pd.get_dummies(df, columns=['Gender'], drop_first=True)

# 3. Scale numerical features
scaler = MinMaxScaler()
df[['Age', 'AnnualIncome', 'SpendingScore']] = scaler.fit_transform(df[['Age', 'AnnualIncome', 'SpendingScore']])

# 4. Split the data
X = df.drop(columns=['CustomerID', 'SpendingScore'])
y = df['SpendingScore']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Output results
print("Training Features:\n", X_train)
print("Testing Features:\n", X_test)
print("Training Labels:\n", y_train)
print("Testing Labels:\n", y_test)

Training Features:
         Age  AnnualIncome  Gender_Male
0  0.000000      0.107143         True
7  0.000000      1.000000        False
2  0.277778      0.357143        False
4  0.555556           NaN        False
3       NaN      0.642857         True
6  1.000000      0.000000        False
Testing Features:
         Age  AnnualIncome  Gender_Male
1  0.138889      0.214286        False
5  0.083333      0.392857         True
Training Labels:
 0    0.408451
7    0.281690
2         NaN
4    0.647887
3    0.943662
6    0.000000
Name: SpendingScore, dtype: float64
Testing Labels:
 1    1.0
5    NaN
Name: SpendingScore, dtype: float64

In [6]:
df.dropna

<bound method DataFrame.dropna of    CustomerID   Age  AnnualIncome  SpendingScore  Gender_Male
0           1  0.00      0.000000       0.000000         True
1           2  0.25      0.200000       1.000000        False
2           3  0.50      0.466667            NaN        False
3           4   NaN      1.000000       0.904762         True
4           5  1.00           NaN       0.404762        False>

In [7]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of    CustomerID   Age  AnnualIncome  SpendingScore  Gender_Male
0           1  0.00      0.000000       0.000000         True
1           2  0.25      0.200000       1.000000        False
2           3  0.50      0.466667            NaN        False
3           4   NaN      1.000000       0.904762         True
4           5  1.00           NaN       0.404762        False>

In [10]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Sample Data
data = {
    'CustomerID': [1, 2, 3, 4, 5],
    'Age': [20, 25, 30, None, 40],
    'Gender': ['Male', 'Female', 'Female', 'Male', None],
    'AnnualIncome': [15, 18, 22, 30, None],
    'SpendingScore': [39, 81, None, 77, 56]
}
df = pd.DataFrame(data)

# Preprocessing Steps
# 1. Fill missing values
df.fillna({'Age': df['Age'].mean()})
df.fillna({'AnnualIncome': df['AnnualIncome'].median()})
df.fillna({'SpendingScore': df['SpendingScore'].mean()})
df.fillna({'Gender': df['Gender'].mode()[0]})
df.replace({'Male': 'M', 'Female': 'F'})
df

   CustomerID   Age  Gender  AnnualIncome  SpendingScore
0           1  20.0    Male          15.0           39.0
1           2  25.0  Female          18.0           81.0
2           3  30.0  Female          22.0            NaN
3           4   NaN    Male          30.0           77.0
4           5  40.0    None           NaN           56.0

In [9]:
df.replace({'Male': 'M', 'Female': 'F'})
df

   CustomerID   Age  Gender  AnnualIncome  SpendingScore
0           1  20.0    Male          15.0           39.0
1           2  25.0  Female          18.0           81.0
2           3  30.0  Female          22.0            NaN
3           4   NaN    Male          30.0           77.0
4           5  40.0    None           NaN           56.0