# Function

In [1]:
def message():
    print("Enter a value: ")

print("We start her.")
print("We end here")

We start her.
We end here

#####  This means that Python reads the function's definitions and remembers them, but won't lsunch any of them without your permision.

##### lets modify the code now...by inserted the function's invocation btw the start and end message:

In [2]:
def message():
    print("Enter a value: ")

print("We start her.")
message()
print("We end here")

We start her.
Enter a value:
We end here

In [3]:
def message():
    print("Enter a value: ")

message()
a = int(input())
message()
b = int(input())
message()
c = int(input())

Enter a value:

 5

Enter a value:

 8

Enter a value:

 7

In [4]:
def message(number):
    print("Enter a number: ", number)

message()

TypeError: message() missing 1 required positional argument: 'number'

In [5]:
def message(number):
    print("Enter a number: ", number)

message(2)

Enter a number:  2

In [6]:
def message(number):
    print("Enter a number: ", number)

number = 1234
message(1)
print(number)

Enter a number:  1
1234

#### A function can have as many parameter as u want, but the more parameter you have the harder it is to memorize their roles and purposes

##### lets modify the function- it has two parameters

In [7]:
def message(what, number):
    print("Enter: ", what, "number: ", number)

##### This means that invoking the function will require two arguments.

In [8]:
message("telephone", 11)
message("prices", 5)
message("number", "number")

Enter:  telephone number:  11
Enter:  prices number:  5
Enter:  number number:  number

In [9]:
def message(what, number):
    print("\nEnter: ", what, "\nnumber: ", number)

In [10]:
message("telephone", 17)
message("prices", '155,000')
message("number", "number")

Enter:  telephone
number:  17

Enter:  prices
number:  155,000

Enter:  number
number:  number

#### Positional Parameter passing

In [11]:
def my_function(a, b, c):
    print(a, b, c)

my_function(1, 2, 3)

1 2 3

In [12]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

In [13]:
introduction("Raji", "Sulaeman")

Hello, my name is Raji Sulaeman

In [14]:
introduction("Raji", "dami")
introduction("Fajinmolu", "Mateen")
introduction("Raji", "Soburi")

Hello, my name is Raji dami
Hello, my name is Fajinmolu Mateen
Hello, my name is Raji Soburi

#### Keyword argument passing

##### Python offers another convention for passing arguments, where the meaning of the argument is dictated by its name, not by its position - it's called keyword argument passing

In [15]:
introduction(first_name = "Raji", last_name = "Sulaeman")

Hello, my name is Raji Sulaeman

#### mixing positional and keyyword argument

##### You can mix both fashion if you want- there is only one unbreakable rule: you have to put positional arguments before keyword arguments

In [16]:
def adding(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

In [17]:
# Positional argument passing
adding(2,3,5)

2 + 3 + 5 = 10

In [18]:
# keyword argument passing
adding(c = 1, a = 2, b = 3)

2 + 3 + 1 = 6

In [19]:
# mixing the both arguments

adding(3, c =1, b = 2)

3 + 2 + 1 = 6

In [20]:
# mixing the both arguments

adding(3, b =1, c = 2)

3 + 1 + 2 = 6

#### Parameterized functions- more details

In [21]:
def introduction(first_name, last_name="Smith"):
    print("Hello, my name is", first_name, last_name)

In [22]:
introduction("Raji", "Sulaeman")

Hello, my name is Raji Sulaeman

In [23]:
introduction("Raji")

# or

introduction(first_name="Raji")

Hello, my name is Raji Smith
Hello, my name is Raji Smith

In [24]:
def introduction(first_name="Raji", last_name="Smith"):
    print("Hello, my name is", first_name, last_name)

In [25]:
introduction()

Hello, my name is Raji Smith

In [26]:
introduction(last_name="Gani")

Hello, my name is Raji Gani

In [27]:
def subtract(a, b):
    print(a - b)

subtract(5,2)

3

In [28]:
subtract(2, 5)

-3

In [29]:
def subtract(a, b):
    print(a - b)

subtract(a=5,b=2)
subtract(a=2,b=5)

3
-3

In [30]:
def intro(a="James Bond", b="Bond"):
    print("my name is", b + ".", a + ".")

intro()

my name is Bond. James Bond.

In [31]:
intro(b="Sean Connery")

my name is Sean Connery. James Bond.

In [34]:
def add_numbers(a,b=2,c):
    print(a+b+c)

add_numbers(3,1)

SyntaxError: parameter without a default follows parameter with a default (1026455320.py, line 1)

### Effects and results: the **return** instruction

In [35]:
def happy_new_year(wishes = True):
    print("Three....")
    print("Two...")
    print("One...")
    if not wishes:
        return

    print("Happy new year!")

In [36]:
happy_new_year()

Three....
Two...
One...
Happy new year!

In [37]:
happy_new_year(False)

Three....
Two...
One...

In [38]:
def boring_function():
    return 123

x = boring_function()
print("The boring_function has returned its result. It's:", x)

The boring_function has returned its result. It's: 123

In [39]:
def boring_function():
    print(" 'Boredom Mode' ON.")
    return 123

print("This lesson is interesting!")
boring_function()
print("This lesson is boring....")

This lesson is interesting!
 'Boredom Mode' ON.
This lesson is boring....

#### A few words about **None**

In [40]:
value = None
if value is None:
    print("Sorry, you don't carry any value")

Sorry, you don't carry any value

In [41]:
def strange_function(n):
    if(n % 2 == 0):
        return True

In [42]:
print(strange_function(2))

True

In [43]:
print(strange_function(1))

None

### Effect and results: Lists and functions

In [44]:
def list_sum(lst):
    s = 0
    
    for elem in lst:
        s += elem
    
    return s

print(list_sum([5, 4, 3]))

12

In [45]:
def list_sum(lst):
    s = 0
    for elem in lst:
        s += elem
    return s

print(list_sum([5, 4, 3]))

12

In [46]:
list_sum([5,4,3])

12

In [51]:
def strange_list_fun(n):
    strange_list = []
    for i in range(n):
        strange_list.insert(0, i)

    return strange_list

In [52]:
strange_list_fun(5)

[4, 3, 2, 1, 0]

In [53]:
def is_year_leap(year):
    if (year % 4 != 0 ):
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

In [54]:
is_year_leap(1900)

False

In [55]:
is_year_leap(2000)

True

In [56]:
is_year_leap(2016)

True

In [57]:
is_year_leap(1987)

False

In [58]:
test_data = [1900, 2000, 2016, 1987]
test_results = [False,True,True,False]
for i in range(len(test_data)):
    yr = test_data[i]
    print(yr,"-> ",end="" )
    result = is_year_leap(yr)
    if result == test_results[i]:
        print("OK")
    else:
        print("Failed")

1900 -> OK
2000 -> OK
2016 -> OK
1987 -> OK

In [60]:
def is_year_leap(year):
    if (year % 4 != 0 ):
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

def days_in_month(year, month):
    if year < 1582 or month < 1 or month > 12:
        return None
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    res = days[month - 1]
    if month == 2 and is_year_leap(year):
        res = 29
    return res

def day_of_year(year, month, day):
    days = 0
    for m in range(1, month):
        md = days_in_month(year, m)
        if md == None:
            return None
        days += md
    md = days_in_month(year, month)
    if day >= 1 and day<= md:
        return days + day
    else:
        return None

print(day_of_year(2000, 12, 31))

366

In [61]:
def day_of_year(year, month, day):
    days = 0
    for m in range(1, month):
        md = days_in_month(year, m)
        if md == None:
            return None
        days += md
    md = days_in_month(year, month)
    if day >= 1 and day<= md:
        return days + day
    else:
        return None

print(day_of_year(2000, 12, 31))

366

In [62]:
def days_in_month(year, month):
    if year < 1582 or month < 1 or month > 12:
        return None
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    res = days[month - 1]
    if month == 2 and is_year_leap(year):
        res = 29
    return res

In [68]:
def is_prime(num):
    if num % 2 == 0:
        return True
    elif num % 2 != 0:
        return False

is_prime(14)

True

In [71]:
def is_prime(num):
    if num % 2 == 0:
        return True
    elif num % 2 != 0:
        return False

for i in range(1, 20):
    if is_prime(i + 1):
        print(i + 1, end=" ")

print()

2 4 6 8 10 12 14 16 18 20

In [76]:
def is_prime(num):
    if num % 2 != 0:
        return True
    elif num % 2 == 0:
        return False

for i in range(1, 20):
    if is_prime(i + 1):
        print(i + 1, end=" ")

print()

3 5 7 9 11 13 15 17 19

In [80]:
def is_prime(num):
    for i in range(2, int(1 + num ** 0.5)):
        if num % i == 0:
            return False
        return True

for i in range(1, 20):
    if is_prime(i + 1):
        print(i + 1, end=" ")

print()

5 7 9 11 13 15 17 19

In [90]:
# 1 American mile = 1609.344 meters
# 1 American gallon = 3.785411784 litres

def liters_100km_to_miles_gallon(litres):
    gallons = litres / 3.785411784
    miles = 100 * 1000 / 1609.344
    return miles / gallons

    

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))

60.31143162393162
31.36194444444444
23.52145833333333

In [98]:
# 1 American mile = 1609.344 meters
# 1 American gallon = 3.785411784 litres

def miles_gallon_to_liters_100km(miles):
     gallons = miles / 3.785411784
     miles = 100 * 1000 / 1609.344
     return miles / gallons

    
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

3.9007393587617467
7.490910297239915
10.009131205673759

In [101]:
# 1 American mile = 1609.344 meters
# 1 American gallon = 3.785411784 litres

def liters_100km_to_miles_gallon(litres):
    gallons = litres / 3.785411784
    miles = 100 * 1000 / 1609.344
    return miles / gallons

def miles_gallon_to_liters_100km(miles):
     gallons = miles / 3.785411784
     miles = 100 * 1000 / 1609.344
     return miles / gallons

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

60.31143162393162
31.36194444444444
23.52145833333333
3.9007393587617467
7.490910297239915
10.009131205673759

In [104]:
def hi():
    return
    print("Hi!")
print(hi())

None