# Loops

##### Let's go ahead and work through several examples of for loops using a variety of data object types. We'll start simple and build more complexity later on.

##### Example 1
###### Iterating through a list

In [1]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### Great! Hopefully this makes sense, Now let's add an if statement to check for even numbers. We'll first introduce a new concept here--the modulo.

### Modulo

##### The modulo allows us to get the reminder in a division and uses the % symbol. E.g:

In [3]:
17 % 5

2

##### This makes sense since 17 didvided by 5 is 3 remainder 2. few more exmaples:

In [4]:
10 % 3

1

In [5]:
18 % 7

4

In [6]:
4 % 2

0

##### Example 2

###### Let's print only the even numbers from the list!

In [7]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('odd number')

In [38]:
for num in list1:
    if num % 2 == 1:
        print(num)
    else:
        print('even number')

1
even number
3
even number
5
even number
7
even number
9
even number

#### Example 3
###### Another common idea during a for loop is keeping some sort of running tally during multiple loops. for example, let's create a for loop that sum up the list:

In [9]:
# Start sum at zero
list_sum = 0


for num in list1:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [10]:
# Start sum at zero
list_sum = 0


for num in list1:
    list_sum = list_sum + num
print(list_sum)

55

##### Great! read over the above cell and make sure you understand fully what is E.g

In [11]:
# Start sum at zero
list_sum = 0


for num in list1:
    list_sum += num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

#### Example 4

###### We've used for loops with lists, how about with strings? Remember strings are a sequence so when we iterate through themwe will be accessing each item in that string.

In [12]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

#### Example 5

##### Let's now look at how a for loop can be used with a tuple:

In [13]:
tup = (1,2,3,4,5)

for num in tup:
    print(num)

1
2
3
4
5

### Example 6

Tuples have a special quality when it comes to for loops. If you are iterating through a sequence that contains tuples. the item can actually be the tuple itself, this is an example of tuple unpacking. During the for loop we will be unpacking the tuple of a sequence and we can access the individual items inside the tuple!

In [14]:
list2 = [(2,4), (6,8),(10,12)]

for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [15]:
list2 = [(2,4), (6,8),(10,12), (14, 16)]

for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)
(14, 16)

In [16]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

2
6
10
14

In [17]:
for (t1,t2) in list2:
    print(t2)

4
8
12
16

In [18]:
list2 = [(2,4,12), (6,8,17),(5,10,12), (2, 14, 16)]

for tup in list2:
    print(tup)

(2, 4, 12)
(6, 8, 17)
(5, 10, 12)
(2, 14, 16)

In [19]:
for (t1,t2, t3) in list2:
    print(t3)

12
17
12
16

##### cool! With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many objects will deliver their iterables through tuples. Let's start exploring throu Dictionaries to explore this further!

#### Example 7

In [20]:
d = {'k1' :1, 'k2' :2, 'k3' : 3}

for item in d:
    print(item)

k1
k2
k3

###### Notice how this produces only keys. So how can we get the values? Or both the keys and the values?

###### We're going to introduce three new Dictionary methods: **.keys()**, **.values()** and **.items()**

###### In python each of these methods return a dictionary view object. It supports operations like membership test and iteration. but its contents are not independent of the original dictionary - it is only a view. Let's see it in action:

In [21]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

##### Since the .items() method supports iteration, we can perform dictionary unpacking keys and values just as we did in previous examples:

In [22]:
# Dictionary unpacking
for k, v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [23]:
# Dictionary unpacking
for k, v in d.items():
    print(v)

1
2
3

###### If you want to obtain the true list of keys, or values,or key/value tuples, you can cast the view as a list:

In [24]:
list(d.keys())

['k1', 'k2', 'k3']

In [25]:
sorted(d.values())

[1, 2, 3]

In [26]:
list(d.values())

[1, 2, 3]

#### Conclusion

###### We've learned how to use for loops to iterate through tuples, list, string, and dictionaries. It will be an important tool for us, so make sure you knw it well and understood the above examples.

## While Loops

#### The general format of a while loop is:

           While test:
               code statements
           else:
                final code statements
###### Let's look at afew simple **while** loops in action.

In [27]:
x = 0

while x < 15:
    print('x is currently: ',x)
    print('x is still less than 15, adding 1 to x')
    x+=1

x is currently:  0
x is still less than 15, adding 1 to x
x is currently:  1
x is still less than 15, adding 1 to x
x is currently:  2
x is still less than 15, adding 1 to x
x is currently:  3
x is still less than 15, adding 1 to x
x is currently:  4
x is still less than 15, adding 1 to x
x is currently:  5
x is still less than 15, adding 1 to x
x is currently:  6
x is still less than 15, adding 1 to x
x is currently:  7
x is still less than 15, adding 1 to x
x is currently:  8
x is still less than 15, adding 1 to x
x is currently:  9
x is still less than 15, adding 1 to x
x is currently:  10
x is still less than 15, adding 1 to x
x is currently:  11
x is still less than 15, adding 1 to x
x is currently:  12
x is still less than 15, adding 1 to x
x is currently:  13
x is still less than 15, adding 1 to x
x is currently:  14
x is still less than 15, adding 1 to x

##### notice how many times the print statements occured and how the **while** loop kept going until the True condition was met, which occured once x == 10. it's important to note that once this occured the code dtopped. Let'ss see how we could add an **else** statement:

In [28]:
x = 0

while x < 15:
    print('x is currently: ',x)
    print('x is still less than 15, adding 1 to x')
    x+=1
else:
    print('Perfect Execution!')

x is currently:  0
x is still less than 15, adding 1 to x
x is currently:  1
x is still less than 15, adding 1 to x
x is currently:  2
x is still less than 15, adding 1 to x
x is currently:  3
x is still less than 15, adding 1 to x
x is currently:  4
x is still less than 15, adding 1 to x
x is currently:  5
x is still less than 15, adding 1 to x
x is currently:  6
x is still less than 15, adding 1 to x
x is currently:  7
x is still less than 15, adding 1 to x
x is currently:  8
x is still less than 15, adding 1 to x
x is currently:  9
x is still less than 15, adding 1 to x
x is currently:  10
x is still less than 15, adding 1 to x
x is currently:  11
x is still less than 15, adding 1 to x
x is currently:  12
x is still less than 15, adding 1 to x
x is currently:  13
x is still less than 15, adding 1 to x
x is currently:  14
x is still less than 15, adding 1 to x
Perfect Execution!

## Break, continue, pass

       break: Breaks out of the the current closest enclosing loop.
       continue: Goes to the top of the closest enclosing loop.
       pass: does nothing at all.
##### Thinking about break and continue statements, the general format of the **while** loop looks like this:
       while test:
           code statement
           if test:
               break
            if test:
                continue
       else:
##### break and continue statements can appear anywhere inside the loop's body, but we will usually put them further nested in conjunction with an **if** statement to perform an action based on some condition.

##### let's go ahead and look at some examples!

In [29]:
x = 0

while x < 15:
    print('x is currently: ',x)
    print('x is still less than 15, adding 1 to x')
    x+=1
    if x == 3:
        print('x==3')
    else:
        print('continue....')
        continue

x is currently:  0
x is still less than 15, adding 1 to x
continue....
x is currently:  1
x is still less than 15, adding 1 to x
continue....
x is currently:  2
x is still less than 15, adding 1 to x
x==3
x is currently:  3
x is still less than 15, adding 1 to x
continue....
x is currently:  4
x is still less than 15, adding 1 to x
continue....
x is currently:  5
x is still less than 15, adding 1 to x
continue....
x is currently:  6
x is still less than 15, adding 1 to x
continue....
x is currently:  7
x is still less than 15, adding 1 to x
continue....
x is currently:  8
x is still less than 15, adding 1 to x
continue....
x is currently:  9
x is still less than 15, adding 1 to x
continue....
x is currently:  10
x is still less than 15, adding 1 to x
continue....
x is currently:  11
x is still less than 15, adding 1 to x
continue....
x is currently:  12
x is still less than 15, adding 1 to x
continue....
x is currently:  13
x is still less than 15, adding 1 to x
continue....
x is currently:  14
x is still less than 15, adding 1 to x
continue....

##### Note how we have printed statement when x==3, and a continue being printed out as we continue through the outer while loop. Let's put in a break once x==3 and see if the result makes sense:

In [30]:
x = 0

while x < 15:
    print('x is currently: ',x)
    print('x is still less than 15, adding 1 to x')
    x+=1
    if x == 3:
        print('Breaking because x==3')
        break
    else:
        print('continue....')
        continue

x is currently:  0
x is still less than 15, adding 1 to x
continue....
x is currently:  1
x is still less than 15, adding 1 to x
continue....
x is currently:  2
x is still less than 15, adding 1 to x
Breaking because x==3

#####  Note how the other **else** statement wasn't reached and continuuing was never printed!
##### After these brief but simples examples, you should feel confortable using **while** statements in your code.

### A word of caution however! It is possible to create an infinitely running loop with while statement. for example:

In [ ]:
# DO NOT RUN THIS CODE
while True:
    print('My name is Sulaeman!')