### Function and scope

#### The scope of a name(e.g, a variable name)is the part of a code where the name is properly recognizable

In [1]:
def scope_test():
    x = 123

print(scope_test())

None

In [2]:
def scope_test():
    x = 123
    
scope_test()
print(x)

NameError: name 'x' is not defined

In [3]:
def my_function():
    print("Do i know that variable?", var)

var = 234
my_function()
print(var)

Do i know that variable? 234
234

In [4]:
def my_function():
    var = 2
    print("Do i know that variable?", var)

var = 1
my_function()
print(var)

Do i know that variable? 2
1

#### Functions and scopes: the global keyword

In [5]:
def my_function():
    global var
    var = 2
    print("Do i know that variable?", var)

var = 1
my_function()
print(var)

Do i know that variable? 2
2

In [6]:
def my_function(n):
    print("I got", n)
    n += 1
    print("I have", n)

var = 1
my_function(var)
print(var)

I got 1
I have 2
1

In [7]:
def my_function(n):
    global var
    print("I got", n)
    n += 1
    print("I have", n)

var = 1
my_function(var)
print(var)

I got 1
I have 2
1

In [8]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    my_list_1 = [0, 1]
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)

my_list_2 = [2, 3]
my_function(my_list_2)
print("print #5", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [0, 1]
Print #4: [2, 3]
print #5 [2, 3]

In [9]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    my_list_1 = [0, 1]
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)

my_list_2 = [2, 3]

my_function(my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [0, 1]
Print #4: [2, 3]

In [10]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    del my_list_1[1]
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)

my_list_2 = [2, 3]
my_function(my_list_2)
print("print #5", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [2]
Print #4: [2]
print #5 [2]

## Some simple functions: evaluating the BMI(Body Mass Index)

#### BMI = (weight in kilograms) / height in meters^2

#### As u can see, the formula gets two values:
        weight(originally in kilograms)
        height(originally in meters)

In [11]:
def bmi(weight, height):
    return weight / height ** 2
    

bmi(52.5, 1.65)

19.283746556473833

In [17]:
def bmi(weight, height):
    if height < 1.0 or height > 2.5 or \
    weight < 20 or weight > 200:
        return None 
    return weight / height ** 2

print(bmi(352.5, 2.65))

None

In [18]:
def bmi(weight, height):
    if height < 1.0 or height < 2.5 or \
    weight < 20 or weight < 200:
        return None 
    return weight / height ** 2

print(bmi(352.5, 2.65))

50.19579921680313

##### We can write two simple functions to convert imperial units to meric ones.(pounds,feet, and inches)

#

##### It's well know that l lb = 0.45359237 kg. We'll use this in our new function.

In [19]:
def lb_to_kg(lb):
    return lb * 0.45359237

print(lb_to_kg(1))

0.45359237

##### It's time for feet and inches: 1 ft = 0.3048 m, and 1 in = 2.54 cm = 0.0254 m

In [20]:
def ft_and_inch_to_m(ft, inch):
    return ft * 0.3048 + inch * 0.0254

ft_and_inch_to_m(1, 1)

0.3302

##### Note: we wanted to name the second parameter just **in**, not **inch**, but we couldn't. Do you know why? 
##### **in** is a Python **keyword** - it cannot be used as a name

In [21]:
ft_and_inch_to_m(6, 0)

1.8288000000000002

##### And it also possible to use either of the two..e.g

In [22]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254

print(ft_and_inch_to_m(6))

1.8288000000000002

##### finally, the code is able to answer the question: what is the BMI of a person 5'7" tall and weighing 176 lbs

In [23]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254

def lb_to_kg(lb):
    return lb * 0.45359237

def bmi(weight, height):
    if height < 1.0 or height > 2.5 or weight < 20 or weight > 200:
        return None
    return weight / height ** 2

print(bmi(weight = lb_to_kg(176), height = ft_and_inch_to_m(5, 7)))

27.565214082533313

In [24]:
def is_a_triangle(a, b, c):
    if a + b <= c:
        return False
    if b + c <= a:
        return False
    if c + a <= b:
        return False
    return True


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

##### Let's make it more compact

In [25]:
def is_a_triangle(a, b, c):
    if a + b <= c or b + c <= a or c + a <= b:
        return False
    return True

print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

#### Some simple functions: triangle and the Pythagorean theorem

In [97]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b

a = float(input('Enter the first side\'s length: '))
b = float(input('Enter the second side\'s length: '))
c = float(input('Enter the third side\'s length: '))

if is_a_triangle(a, b, c):
          print('Yes, it can be a triangle.')
        
else:
    print('No, it can\'t be a triangle.')

Enter the first side's length:  10
Enter the second side's length:  13
Enter the third side's length:  10

Yes, it can be a triangle.

In [94]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


a = float(input('Enter the first side\'s length: '))
b = float(input('Enter the second side\'s length: '))
c = float(input('Enter the third side\'s length: '))

if is_a_triangle(a, b, c):
    print('Yes, it can be a triangle.')
else:
    print('No, it can\'t be a triangle.')

Enter the first side's length:  21
Enter the second side's length:  5
Enter the third side's length:  12

No, it can't be a triangle.

In [93]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b

def is_a_right_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return False
    if c > a and c> b:
        return c ** 2 == b ** 2 + b ** 2
    if a > b and a > b:
        return a ** 2 == b ** 2 + c ** 2

print(is_a_right_triangle(5, 3, 4))
print(is_a_right_triangle(1, 3, 4))

True
False

In [91]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


def is_a_right_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return False
    if c > a and c > b:
        return c ** 2 == a ** 2 + b ** 2
    if a > b and a > c:
        return a ** 2 == b ** 2 + c ** 2


print(is_a_right_triangle(5, 3, 4))
print(is_a_right_triangle(1, 3, 4))

True
False

In [100]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b

def is_a_right_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return False
    if c > a and c> b:
        return c ** 2 == b ** 2 + b ** 2
    if a > b and a > b:
        return a ** 2 == b ** 2 + c ** 2

print(is_a_right_triangle(5, 3, 4))
print(is_a_right_triangle(1, 3, 4))

True
False

In [105]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


def heron(a, b, c):
    p = (a + b + c) / 2
    return (p * (p - a) * (p - b) * (p - c)) ** 0.5


def area_of_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return None
    return heron(a, b, c)


print(area_of_triangle(1., 1., 2. ** .5))

0.49999999999999983

#### Some simple functions: factorials

In [82]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1

    product = 1
    for i in range(2, n + 1):
        product *= i
    return product

for n in range(1, 6):
    print(factorial_function(n))

1
2
6
24
120

In [65]:

print(factorial_function(5))

120

#### Some simple fuctions: Fibonacci numbers

##### they are a sequence of integer numbers built using  a very simple rule:
         - the first element of the sequence is equal to one(Fib1 = 1)
         - the second is also equal to one ( Fib2 = 1)
         - every subsequent number is the the_sum of the two preceding numbers (Fib1 = fibi-1 + Fibi-2)

#### Here are some of the first Fibonacci numbers:
         fib_1 = 1
         fib_2 = 1
         fib_3 = 1 + 1 = 2
         fib_4 = 1 + 2 = 3
         fib_5 = 2 + 3 = 5
         fib_6 = 3 + 5 = 8
        fib_7 = 5 + 8 = 13

In [110]:
def fib(n):
    if n < 1:
         return None
    if n < 3:
        return 1

    elem_1 = elem_2 = 1
    the_sum = 0
    for i in range(3, n + 1):
        the_sum = elem_1 + elem_2
        elem_1, elem_2 = elem_2, the_sum
    return the_sum


for n in range(1, 10):
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34

In [113]:
def fib(n):
    if n < 1:
         return None
    if n < 3:
        return 1

    elem_1 = elem_2 = 1
    the_sum = 0
    for i in range(3, n + 1):
        the_sum = elem_1 + elem_2
        elem_1, elem_2 = elem_2, the_sum
    return the_sum


for n in range(1, 8):
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13

### Some simple functions: recursion

In [114]:
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

In [115]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    return n * factorial_function(n - 1)

In [116]:
factorial_function(5)

120

In [117]:
def factorial(n):
    return n * factorial(n - 1)


print(factorial(4))

RecursionError: maximum recursion depth exceeded

In [120]:
def fun(a):
    if a > 30:
        return 3
    else:
        return a + fun(a + 3)


print(fun(25))

56