#### Tuples

###### In Python tuples are very similar to list, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that should'nt be changed, such as days of the week, or dates on a calendar.

###### In this section, we will get a brief overview of the following:

         1. Constructing Tuples
         2. Basic Tuples Methods
         3. Immutability 
         4. When to use Tuples

###### You'll have an intuition of how to use tuples based on what yuo've learnd about this. We can treat them very similar with the major distinction beng that tuples are immutable

#### Contructing Tuples

###### The construction of a tuples use () with element separated by commas. e.g

In [1]:
# Create a tuple
t = (1,2,3)

# check len just like a list
len(t)

3

In [2]:
# can also mix object types
t = ('one',2)
t

('one', 2)

In [3]:
#Use indexing just like we did in lists
t[0]

'one'

In [4]:
t[1]

2

In [5]:
# Slicing just like a list
t[-1]

2

In [6]:
t[-2]

'one'

### Basic Tuple Methods

##### Tuples have built-in methods, but not as many as lists do. Let's look at two of them

In [9]:
# Use .index to enter a value and return the index
t.index('one')

0

In [14]:
t.index(2)

1

In [10]:
# Use .count to count the number of times a value appears
t.count('one')

1

### ***Immutability***

##### It cant be stressed enough that tuples are immutable. To drive that point home:

In [15]:
t[0]= 'change'
t

TypeError: 'tuple' object does not support item assignment

###### U get the error because of this immutability, tuples can't grow. Once a tuple is made we can not add to it

In [16]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

###### because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

### **When to use Tuples**

###### You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenience source of data integrity.

###### You should now be able to create and use tuples in ur programming as well as have an understanding of their immutability

### Set and Booleans

##### There are two other object types in Python that we should quickly cover: Sets and Booleans.


### Sets

##### Sets are unordered collection of unique elements. We can construct them by using the set() function. let's go ahead and make a set to see how it works

In [18]:
x = set()

# We add to sets with the add() method
x.add(1)

x

{1}

##### Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.
##### We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [21]:
# Add a different element
x.add(2)
x

{1, 2}

In [24]:
x.add(3)
x

{1, 2, 3}

In [25]:
x.add(1)
x

{1, 2, 3}

##### Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a **List** with multiple repeat elements to a set to get the unique elements. e.g

In [26]:
# create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

In [27]:
list1

[1, 1, 2, 2, 3, 4, 5, 6, 1, 1]

### Boleans

##### Python comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. E.g

In [28]:
# Set object to be boolean
a = True
a

True

##### We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course

In [29]:
# Otput is boolean
1 > 2

False

In [30]:
3 > 2

True

In [31]:
3 < 5

True

##### We can use None as a placeholder for an object that we dont want to reassign yet:

In [32]:
# None placeholder
b = None
# show
print(b)

None

##### Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assignment test!

In [33]:
b = 10
b

10

In [34]:
4 < 2

False