In [1]:
s = 'Standardization'
for i in s:
    print(i)

S
t
a
n
d
a
r
d
i
z
a
t
i
o
n

In [29]:
user_word = 'Gregory'
for letter in user_word:
    print(letter)

G
r
e
g
o
r
y

In [30]:
s = 'Standardization'
for i in s:
    print(i, end= '')

Standardization

In [3]:
s = 'Standardization'
for i in s:
    print(i, end= '/')

S/t/a/n/d/a/r/d/i/z/a/t/i/o/n/

In [5]:
# use for loop in a list
programming = ["Java", "Python", "Ruby", "HTML"]
for p in programming:
    print(p)

Java
Python
Ruby
HTML

In [6]:
# Find the avg of a list of numbers
list_num = [20, 25, 10, 50, 45]
sum = 0
for i in list_num:
    sum = sum + i
print("sum =", sum)
print("Average =", sum/len(list_num))

sum = 150
Average = 30.0

In [7]:
# Find the avg of a list of numbers
list_num = [20, 25, 10, 50, 45]
sum = 0
for i in list_num:
    sum = sum + i
    print("sum =", sum)
    print("Average =", sum/len(list_num))

sum = 20
Average = 4.0
sum = 45
Average = 9.0
sum = 55
Average = 11.0
sum = 105
Average = 21.0
sum = 150
Average = 30.0

In [8]:
# For Loop using a tuple
num = (30, 45, 60, 70, 50)
sum = 0
for i in num:
    sum = sum + i
    print(sum)

30
75
135
205
255

In [9]:
# For Loop using a tuple
num = (30, 45, 60, 70, 50)
sum = 0
for i in num:
    sum = sum + i
print(sum)
print("Average =", sum/len(num))

255
Average = 51.0

In [10]:
# range function
for list in range(1,15):
    print(list)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [11]:
# range function
for list in range(1,15,2,):
    print('Display values with a step size of 2:', list)

Display values with a step size of 2: 1
Display values with a step size of 2: 3
Display values with a step size of 2: 5
Display values with a step size of 2: 7
Display values with a step size of 2: 9
Display values with a step size of 2: 11
Display values with a step size of 2: 13

In [12]:
# range function
for list in range(1,15,2,):
    print(list)

1
3
5
7
9
11
13

In [14]:
# Print the table of a given number
n = int(input("Enter the number"))
for i in range(1,11):
    mul = n*i
    print(n, "*", i, "=", mul)

Enter the number 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [38]:
# Print the table of a given number(12)
n = int(input("Enter the number"))
for i in range(1,13):
    mul = n*i
    print(n, "*", i, "=", mul)

Enter the number 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

In [33]:
list2 = ['C++', 'Java', 'Python', 'R' ]
for i in range(len(list2)):
    print("Hello", list2[i])

Hello C++
Hello Java
Hello Python
Hello R

In [17]:
list2 = ['C++', 'Java', 'Python', 'R' ]
for i in list2:
    print('Hello ' +i)

Hello C++
Hello Java
Hello Python
Hello R

In [18]:
companies = ['Google', 'Apple', 'Microsoft', 'Meta']
for i in companies:
    print('Display each letter of ' +i)

Display each letter of Google
Display each letter of Apple
Display each letter of Microsoft
Display each letter of Meta

In [19]:
# Nested for loop
companies = ['Google', 'Apple', 'Microsoft', 'Meta']
for i in companies:
    print('Display each letter of ' +i)
    for letter in i:
        print(letter)

Display each letter of Google
G
o
o
g
l
e
Display each letter of Apple
A
p
p
l
e
Display each letter of Microsoft
M
i
c
r
o
s
o
f
t
Display each letter of Meta
M
e
t
a

In [20]:
# for loop with else clause
for i in range(0,10,3):
    print(i)
else:
    print('Loop has completely executed')

0
3
6
9
Loop has completely executed

In [21]:
# Break
for i in range(1,10):
    if(i==6):
        break
    print(i)

1
2
3
4
5

In [22]:
# Continue
for i in range(1,10):
    if(i==6):
        continue
    print(i)

1
2
3
4
5
7
8
9

In [23]:
# Display the total goals a player has scored

player_name = 'Messi'
goals = {'Edison' :14, 'Bernat' :3, 'Carmelo' :7}

for player in goals:
    if player == player_name:
        print(goals[player])
        break
    else:
        print('Player not found')

Player not found
Player not found
Player not found

In [24]:
# Display the total goals a player has scored

player_name = 'Edison'
goals = {'Edison' :14, 'Bernat' :3, 'Carmelo' :7}

for player in goals:
    if player == player_name:
        print(goals[player])
        break
    else:
        print('Player not found')

14